.feedback-form {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;

  &__label {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &__input {
    width: 360px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #2e2f42;
    border-radius: 8px;
  }

  &__textarea {
    width: 360px;
    height: 80px;
    padding: 10px;
    resize: none;
    border: 1px solid #2e2f42;
    border-radius: 8px;
  }

  &__button {
    color: white;
    background: #4e75ff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
  }
}
